@import 'variables';

@keyframes fadeOutRedBorder {
  from {border-color: $m-red;}
  to {border-color: #FFFFFF;}
}

@keyframes fadeOutGreenBorder {
  from {border-color: $m-green;}
  to {border-color: #FFFFFF;}
}

body {
	margin: 0;
	padding: 0;
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

text {
	font-family: sans-serif;
	font-size: 10px;
}

.tooltip.tooltip {
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: #000;
	color:#fff;
}

input.has-error {
	border: 1px solid $m-red !important;
	animation: fadeOutRedBorder 3s linear 3s;
}

input.has-result {
	border: 1px solid $m-green !important;
	animation: fadeOutGreenBorder 3s linear 3s;
}

#searchbox {
	display: flex;
	align-items: center;
	justify-content: center;
	 position: fixed;
	 top:50px;
	left:50px;

	input {
 		&::placeholder {
 			color: #EEEEEE;
 		}

 		&:focus {
 			outline: 0;
 		}
 	}
}

#searchbox2 {
	position:fixed;
	top:50px;
	right:50px;

	input,
	button {
		float: left;
	}
}


.single {
	display: flex;
    justify-content: center;
	align-items: center;

	#searchbox {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		top: 0;
		right: 0;
		left:0;

		input {
	  		font-size: 5rem;
	 		width: 100%;
	 		height: 15vh;
	 		border: 0px;
	 		text-align: center;
	 	}

	 	button {
	 		display: none;
	 	}
	}
	#searchbox2 {
		display:none;
	}
}