@import 'variables';

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

text {
	font-family: sans-serif;
	font-size: 10px;
}

.tooltip.tooltip {
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: #000;
	color:#fff;
}

 #searchbox {
 	position: fixed;
 	top: 50px;
 	left: 50px;

 	input,
 	button {
 		float: left;
 	}

 	input.has-error {
 		border: 1px solid $m-red;
 	}

 	input.has-result {
 		border: 1px solid $m-green;
 	}
}

#searchbox2 {
	position:fixed;
	top:50px;
	right:50px;
	input,
 	button {
 		float: left;
 	}

 	input.has-error {
 		border: 1px solid $m-red;
 	}

 	input.has-result {
 		border: 1px solid $m-green;
 	}
}


.single {
	display: flex;
    justify-content: center;
	align-items: center;

	#searchbox {
		display: flex;
		flex-direction: column;
		top:auto;
		left:auto;

		input {
			margin-bottom: 5px;
			padding: 15px;
		}
	}
	#searchbox2 {
		display:none;
	}
}